<h1 md-dialog-title>Qu'est ce que je vois ?</h1>
<div md-dialog-content>
  <p>Ce dessin a été réalisé par un des frères de Noëlle BARRAL (André BONNIER)</p>
  <p>Il représente notre arbre généalogique ainsi que les faits marquants que nos ancêtres on dû lire dans les
    gazettes.</p>
  <p>L'original est chez moi, et je le rapporterai à Limoux chez Mamie la prochaine fois que j'irai (sans doute cet
    été).</p>
</div>
<div md-dialog-actions>
  <button md-button (click)="dialogRef.close()">OK</button>
</div>

