<h1 md-dialog-title>Téléchargement</h1>
<div md-dialog-content>
  <p>
    Le fichier original est très gros, je vous propose donc plusieurs tailles de téléchargement en fonction de ce que vous voulez faire du fichier.
  </p>
  <p>
    Si vous souhaitez imprimer l'arbre, alors prennez le plus gros, si non prennez un intermédiaire.
  </p>
</div>
<div md-dialog-actions>
  <button md-button (click)="dialogRef.close('Option 1')">Option 1</button>
  <button md-button (click)="dialogRef.close('Option 2')">Option 2</button>
</div>

