<h1 md-dialog-title>Téléchargement</h1>
<div md-dialog-content>
  <p>
    Le fichier original est très gros, je vous propose donc plusieurs tailles de téléchargement en fonction de ce que vous voulez faire du fichier.
  </p>
  <p>
    Si vous souhaitez imprimer l'arbre, alors prennez le plus gros, si non prennez un intermédiaire. (pour un fond d'écran le plus petit convient)
  </p>
</div>
<div md-dialog-actions>
  <a md-button href="https://drive.google.com/open?id=0B1ZZ_SPej_jsbjlwLWpiZWI2SHM">Trop résolue (98Mb)</a>
  <a md-button href="https://drive.google.com/open?id=0B1ZZ_SPej_jsUmtJWktKTGh5cjg">Très résolue (14Mb)</a>
  <a md-button href="https://drive.google.com/open?id=0B1ZZ_SPej_jsTHFBVHNjUXBZakE">Bien résolue (2Mb)</a>
</div>

